<div class="signup-page-container" [style.background-image]="backgroundStyle">

  <div class="signup-content-wrapper">
    <h1 class="signup-title">Creeaza Cont</h1>

    <div class="signup-card">
      <input [(ngModel)]="name" type="text" placeholder="Nume" class="input" />
      <input [(ngModel)]="surname" type="text" placeholder="Prenume" class="input" />
      <input [(ngModel)]="email" type="email" placeholder="E-mail" class="input" />
      <input [(ngModel)]="password" type="password" placeholder="Parola" class="input" />
      <input [(ngModel)]="confirmPassword" type="password" placeholder="Confirma Parola" class="input" />
    </div>

    <p class="error-message" *ngIf="signupError">{{ signupError }}</p>

    <button class="signup-btn" (click)="onSignup()">Creeaza Cont</button>

    <a class="login-link" routerLink="/login">Ai deja cont? Autentifica-te</a>
  </div>
</div>
