/* ——— FONT GLOBAL —————————————— */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.login-page-container {
  width: 100%;
  height: 100vh;
  background-color: #f3e5d0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.login-content-wrapper {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

/*Title*/
.login-title {
  font-size: 44px;
  font-weight: 700;
  color:#5a3318;
  margin-bottom: 8px;
  text-align: center;
}

/*Google Login Button*/
.google-login-box{
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 50px;


}

.google-button{
  background: white;
  padding: 14px 20px;
  width: 100%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.12);
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s ease;
}

.google-btn img {
  width: 22px;
  border-radius: 50px;

}

.google-btn:hover {
  transform: translateY(-2px);


}

.login-card {
  width: 100%;
  background-color: #fff7ec;
  border-radius: 18px;
  padding: 24px 28px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input{
  border: none;
  border-bottom: 2px solid #c7b7a3;
  padding: 10px 6px;
  font-size: 17px;
  background: transparent;
  outline: none;
  transition: 0.2s ease-in-out;
}
.input:focus {
  border-bottom-color: #a67a58;
}
.login-btn {
  width: 100%;
  background: #d8a26c;
  color: #4b2b15;
  font-size: 20px;
  font-weight: 600;
  padding: 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.login-btn:hover {
  background: #c48e56;
  transform: translateY(-2px);
}

/* ——— SIGNUP LINK —————————————— */
.signup-link {
  color: #6f4b2b;
  text-decoration: none;
  font-size: 17px;
  margin-top: 4px;
}

.signup-link:hover {
  text-decoration: underline;
}
