<div class="page-container">
  <app-sidebar></app-sidebar>

  <div class="content-wrapper">
    <app-header
      [groups]="groups"
      [selectedGroup]="selectedGroup"
      [selectedWeek]="selectedWeek"
      (groupChange)="selectGroup($event)"
      (weekChange)="selectWeek($event)"
      (filtersChange)="onFiltersChanged($event)"
      (weatherToggle)="onWeatherToggle($event)">
    </app-header>

    <app-timetable-grid
      [selectedGroup]="selectedGroup"
      [selectedWeek]="selectedWeek"
      [activeFilters]="currentFilters"
      [currentDayIndex]="currentDayIndex"
      [currentLinePosition]="currentLinePosition"
      [showWeather]="weatherEnabled"
      (eventClicked)="onEventSelected($event)"
      (triggerGrades)="openGrades($event)">

    </app-timetable-grid>
  </div>

  <app-notes-panel
    *ngIf="selectedEvent"
    [event]="selectedEvent"
    (closePanel)="closeNotes()">
  </app-notes-panel>

  <app-grades-panel
    *ngIf="currentGradeEvent"
    [event]="currentGradeEvent"
    (closePanel)="closeGrades()">
  </app-grades-panel>

</div>
